@{
    ViewData["Title"] = null ;
}
<h2>HRMS Dashboard</h2>
<h4> Welcome @ViewBag.Username</h4>
<h5>Role : @ViewBag.Role</h5>

<a asp-controller="Account"
    asp-action="Logout"
   class="btn btn-danger">Logout</a>
