@{
    ViewData["Title"] = "Login";
}
<h2>HRMS Login</h2> 
<form method="post">
    <div class="mb-3">
        <label>UserName</label>
        <input type = "text" name="username" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger mt-3">@ViewBag.ErrorMessage</div>
    }
</form>
